$pink: #ff9fc6;

body {
  background: #1c1b1b;
}

.admin-container {
  border: 2px dashed $pink;
}

.admin-item-container {
  padding: 20px;
}

.cute-border {
  border: 2px solid $pink;
  border-radius: 0;
  background: #fefefe;
}


.admin-nav-container {
  top: 48px;

  .admin-nav {
    button {
      border: none;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        background: rgba($pink, 0.5);
      }
    }
  }
}

.account-container {
  form {
    margin: 10px 0;
  }
}